Types: deb
URIs: {{ clickhouse_repository_url }}
Suites: {{ clickhouse_repository_channel }}
Components: main
Architectures: {{ clickhouse_deb_architecture }}
Signed-By: /usr/share/keyrings/clickhouse-keyring.gpg
