Types: deb
URIs: {{ syslog_ng_repository_url }}
Suites: stable
Components: {{ syslog_ng_repository_component }}
Architectures: {{ syslog_ng_deb_architecture }}
Signed-By: /etc/apt/keyrings/syslog-ng-ose.gpg
